.header {
    background: #000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1512px;
    width: 100%;
}

.header-utilities {
    flex: 1;
}

.header__search {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form {
    display: flex;
}

.create-form__item-input {
    padding: 15px 31px;
    width: 100%;
    max-width: 500px;
    font-size: 24px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.header-utilities nav {
    /* width: 18%; */
    min-width: 200px;
    width: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

.header-nav__item a,
.header-nav__item button {
    margin-left: 20px;
    }

.sell-button {
    padding: 12px 25px;
    font-size: 24px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}