
.left-contents {
    display: flex;
    

}

.product-contents {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.product-content {
    margin: 3px;
    width: 270px;
    position: relative;
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-content {
    width: 270px;
    height: 160px;
}

.detail-content {
    display: flex;
    background-color: white;
    height: 45px;
    position: relative;
}